.nav-pills .nav-link.active,.nav-pills .show>.nav-link {
    color: #000000;
    background-color: #ffffff
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
    color: #000000;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out
}
