{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block title %}
  Добавить книгу
{% endblock %}
{% block content %}
<div class="col d-flex justify-content-center">
  <div class="card" style="width: 40rem;">
    <div class="card-header">
    Добавить книгу
  </div>
  <div class="card-body">
  <form action="{% url 'books:book_new'%}" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% bootstrap_button button_type="submit" content="Добавить" %}
  </div>
</div>
</div>
{% endblock %}