{% extends "base.html" %}
{% block title %}
  О нас
{% endblock %}
{% block content %}
  <h1>О нас</h1>
  <b><i>Кто мы такие?</i></b>
  <p>
    Привет. Мы — TLTbooks. Книжный магазин города Тольятти в Самарской области. 
    Наш магазин появился недавно, буквально пару месяцев назад. 
    У нас в наличии находится много книг различных жанров. 
  </p>
  <b><i>Чем мы занимаемся?</i></b>
  <p>
    Мы не только продаем интересные книги, но и канцтовары. 
    А также разделяем с нашими покупателями любовь к чтению.
  </p>
  <b><i>Причины покупать у нас?</i></b>
  <p>
    <ul>
      <li><i>Огромный выбор книг</i> — если вы пытаетесь найти какую то книгу, но никак не получается, то вы пришли по адресу, у нас вы найдёте всё.</li>
      <li><i>Качественная доставка</i> — наша доставка действует по всей Самарской области и в скором времени будет по всей России.</li>
      <li><i>Различные акции</i> — каждую неделю у нас проводятся куча акций, где вы получите огромные скидки на ваши любимые книги.</li>
      <li><i>Бонусная система</i> — в нашем магазине система кэшбэка с покупок и он начисляются на вашу бонусную карту. </li>
    </ul>
    Побывав у нас в магазине или на нашем сайте, вы сами поймёте, что причин на самом деле ещё больше.
  </p>
  <b><i>Сколько нас?</i></b>
  <p>
    Пока в нашем штате около 30 человек, но мы только начинаем расти.
    По плану дальнейшего развития мы собираемся открыть больше магазинов не только в Тольятти, но и по всей Самарской области.
  </p>
  <b><i>Где нас найти?</i></b>
  <p>
    Вы можете найти нас по адресу: <i> Южное ш., 6, Тольятти </i> или на нашем сайте: <i>tltbooks.ru</i>.
    <ul>
      <li><i>Наша почта</i>: tltbooks@yandex.ru</li>
      <li><i>Телефон</i>: 8 (123) 456-78-90</li>
    </ul>
  </p>
  <p>
  <script type="text/javascript" charset="utf-8" 
  async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A88914f69f36f96a0ae4be38f5e6ec65f7534700b4ee9fae2bcad43361fe1cbcb&amp;width=511&amp;height=375&amp;lang=ru_RU&amp;scroll=true">
  </script>
  </p> 
{% endblock %}