{% extends "base.html" %}
{% block title %}
  Акции
{% endblock %}
{% block content %}
  <h1>Акции</h1>
  <b><i>Скидки и акции в розничном магазине и через интернет-магазин</i></b>
  <p>
  <ul>
    <li><b>3-15%</b> скидки по нашей бонусной карте (каждая покупка увеличивает  ваш процент скидки). </li>
    <li><b>5-10%</b> или больше кэшбэка на вас бонусный счёт (вы можете их списывать, как в розничном магазине, так и на сайте). </li>
    <li><b>10%</b> скидки для пенсионеров, каждый день до 13.00 (при предъявлении пенсионного удостоверения). </li>
    <li>Впервые зарегистрированным пользователям, даётся купон на <b>20%</b> скидку. 
      Вы их можете потратить на первый заказ, после которого вам вернут <b>15%</b> кэшбэка (через 14 дней после заказа).  </li>
      <li>В день рождения покупателя также можно получить скидку на покупку в размере <b>25%</b> (при предъявлении документа, уточняющего вашу дату рождения).</li>
    <li>Скидка при единовременной покупке большого количества книг:
      <ul>
        <li><b>10%</b> при покупке канцтоваров на сумму от 10 шт.; </li>
        <li><b>20%</b> при покупке канцтоваров на сумму от 20 шт.;</li>
        <li><b>30%</b> при покупке канцтоваров на сумму от 30 шт.; </li>
        <li><b>40%</b> при покупке канцтоваров на сумму от 40 шт. </li>
      </ul>
    </li>
  </ul>
  </p>
{% endblock %}